.form {
  display: flex;
  gap: 32px;
  justify-content: center;
  margin-bottom: 16px;
}

.form__input {
  border: 1px solid #bdbdbd;
  border-radius: 12px;
  padding: 10px 6px;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #000000;
  flex-basis: 60%;
}

.form__input::placeholder {
  color: #828282;
}

.form__button {
  background: #2f80ed;
  box-shadow: 0px 2px 6px rgba(127, 177, 243, 0.4);
  border-radius: 12px;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
}
